__pycache__/button.cpython-310.pyc
__pycache__/points.cpython-310.pyc
__pycache__/settings.cpython-310.pyc
__pycache__/settings.cpython-310.pyc
__pycache__/points.cpython-310.pyc
__pycache__/my_long_snake.cpython-310.pyc

points_hard.json
points_medium.json
points_easy.json

